body {
    background: url('../assets/fundo.png') center/cover fixed no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#formContainer {
    position: absolute;
    top: 8%;
    /* Adjusted size */
    left: 41%;
    /* Adjusted size */
}

#tabelaOrcamento {
    position: absolute;
    top: 8%;
    /* Adjusted size */
    left: 5%;
    /* Adjusted size */
}

#resultadoOrcamento {
    color: #ccc;
    width: 80%;
    /* Adjusted size */
    border-collapse: collapse;
}

#resultadoOrcamento th,
#resultadoOrcamento td {
    border: 1px solid #ddd;
    padding: 6px;
    /* Adjusted size */
    text-align: left;
}

#resultadoOrcamento th {
    background-color: #3a7e9e;
    font-size: 16px;
    /* Adjusted size */
}

#resultadoOrcamento td:last-child {
    text-align: right;
}

#resultadoOrcamento td strong {
    font-weight: bold;
    font-size: 14px;
    /* Adjusted size */
}

#resultadoOrcamento td[colspan="2"] {
    text-align: right;
}

#orcamentoForm {
    color: #ccc;
    width: 250px;
    /* Adjusted size */
    padding: 15px;
    /* Adjusted size */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin-bottom: 6px;
    /* Adjusted size */
}

input,
select {
    width: 100%;
    padding: 4px;
    /* Adjusted size */
    margin-bottom: 8px;
    /* Adjusted size */
    box-sizing: border-box;
}

h2 {
    margin-top: 3px;
    /* Adjusted size */
}

button {
    margin-top: 10px;
    /* Adjusted size */
    width: 180px;
    /* Adjusted size */
    padding: 2px;
    /* Adjusted size */
    background-color: #3a7e9e;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    /* Adjusted size */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a06e45;
}


@media (max-width: 1250px) {
    #formContainer {
        position: absolute;
        top: 8%;
        left: 25%;
    }

    #tabelaOrcamento {
        position: absolute;
        top: 110%;
        left: 25%;
    }
}

@media (max-width: 360px) {
    #formContainer {
        position: absolute;
        top: 8%;
        left: 10%;
    }

    #tabelaOrcamento {
        position: absolute;
        top: 110%;
        left: 10%;
    }
}